<?xml version="1.0"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ultraSound" params="name *origin">
    <joint name="ultraSound_${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="trunk"/>
      <child link="ultraSound_${name}"/>
    </joint>
    <link name="ultraSound_${name}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size=".001 .001 .001"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://unitree_go1_description/meshes/visual/ultraSound.dae" scale="1 1 1"/>
        </geometry>
        <material name="black"/>
      </visual>
      <inertial>
        <mass value="1e-5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      </inertial>
    </link>
    <xacro:if value="$(arg use_gazebo)">
      <xacro:ultrasound_gazebo_configulation name="${name}"/>
    </xacro:if>
  </xacro:macro>
</robot>
